
//$unit: 12px;

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {

    box-sizing: inherit;
}

html {

    box-sizing: border-box;
}

.foo {
    display: flex;
}

body {

    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: $unit;
}

li {

    list-style: none;
}
